.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.image-gallery img {
    opacity: 0.5;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: ease-in 0.5s;
}

.image-gallery img:hover
{
    opacity: 1;
    width: 150px;
    height: 150px;
    
}
